@charset "ISO-8859-1";
/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    
}

.container {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    background-color: #4CAF50;
    padding: 20px;
}
.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

/* Styling for links in the sidebar */
.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #3e8e41;
}

/* Styling for the specific input inside the form in the sidebar */
.sidebar ul li form input[type="submit"] {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: background 0.3s;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Hover effect for the input submit button */
.sidebar ul li form input[type="submit"]:hover {
    background-color: #3e8e41;
}


/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 20px;
}

header h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Form Section */
.form-section {
    display: flex;
    justify-content: space-between;
}

.form-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 45%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-box h3 {
    margin-bottom: 20px;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-box input, .form-box select, .form-box button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-box button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-box button:hover {
    background-color: #45a049;
}
